.profile__edit-button {
  background-color: #000;
  width: 24px;
  height: 24px;
  cursor: pointer;
  border: 1px solid #fff;
  margin: 15px 0 0 20px;
  position: relative;
}

.profile__edit-button::after {
  content: "";
  background: url(../../../images/Edit\ Button.svg) no-repeat center / contain;
  width: 10px;
  height: 10px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
