.footer__signature {
  display: block;
  color: #545454;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  padding-top: 68px;
}

@media screen and (max-width: 576px) {
  .footer__signature {
    padding-top: 51px;
    font-size: 14px;
    line-height: 17px;
    align-self: center;
  }
}