.header {
  box-sizing: content-box;
  height: 74px;
  padding-top: 45px;
  border-bottom: 1px solid #545454;
}

@media screen and (max-width: 576px) {
  .header {
    height: 55px;
    padding: 28px 8.5% 0;
  }
}