.profile__activity {
  margin: 0;
  padding-top: 7px;
  font-size: 18px;
  line-height: 22px;
  font-weight: 400;
}

@media screen and (max-width: 992px)  {
  .profile__activity {
    text-align: center;
  }
}

@media screen and (max-width: 576px)  {
  .profile__activity {
    font-size: 14px;
    line-height: 17px;
    padding-top: 8px;
  }
}