.profile__edit-button {
  background-color: rgba(0, 0, 0, 0);
  width: 24px;
  height: 24px;
  padding: 0;
  border: 1px solid #fff;
  position: relative;
  margin: 14px 0 0 20px;
  outline: none; /* в макете не нашел значений для элемента */
  transition: opacity .14s ease-in;
  cursor: pointer;
}

.profile__edit-button::after {
  content: "";
  background: url(../../../vendor/images/edit-button.svg) no-repeat center / contain;
  width: 10px;
  height: 10px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.profile__edit-button:hover {
  opacity: .6;
}

@media screen and (max-width: 576px) {
  .profile__edit-button {
    width: 18px;
    height: 18px;
    margin: 9px 0 0;
  }

  .profile__edit-button::after {
    width: 7.5px;
    height: 7.5px;
  }
}
