.popup__image {
  display: block;
  width: 100%;
  max-width: 75vw;
  max-height: 75vh;
  object-fit: contain;
  position: relative;
}

@media screen and (max-width: 576px) {
  .popup__image {
    max-width: 100%;  
  }
}
