.elements__like-button {
  align-self: center;
  display: block;
  border: none;
  padding: 0;
  margin: 0 20px 0 0;
  width: 22px ;
  height: 19px;
  outline: none; /* в макете не нашел значений для аутлайнов элемента */
  background: url(../../../vendor/images/like-button.svg) no-repeat center / contain;
  transition: opacity .14s ease-in;
  cursor: pointer;
}

.elements__like-button:hover {
  opacity: .5;
}
