.profile__avatar {
  width: 120px;
  height: 120px;
  min-width: 120px;
  overflow: hidden;
  border-radius: 50%;
  display: flex;
}

@media screen and (max-width: 992px)  {
  .profile__avatar {
    align-self: start;
    margin: 0 auto;
  }